<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pirate & Ship Data</title>
  </head>
  <body>
    <h1>Pirate:</h1>
    <p>Name: <%= @pirate.name %></p>
    <p>Height:  <%= @pirate.height %></p>
    <p>Weight:  <%= @pirate.weight %></p>
    <br>
    <h1>Ships:</h1>
    <% @ships.each do |ship| %>
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
    <% end %>
  </body>
</html>
